<!-- Login Div Holder -->
<div class="container">
  <div class="login-view currentView" ng-if="!vm.showHelloWorld">
  <!-- Login Form -->
    <form name="loginForm" class="login-form">
      <center>
        <md-input-container>
          <label>
            Username
          </label>
          <input ng-model="vm.username" name="username" type="text" required/>
        </md-input-container>
      </center>
      <center>
        <md-input-container>
          <label>
            Password
          </label>
          <input ng-model="vm.password" type="password" required/>
        </md-input-container>
      </center>
      <center>
        <md-button class="md-primary md-hue-1" ng-click="vm.login()">
          Login
        </md-button>
      </center>
      <p class="error-text" ng-show="vm.showError">*Please enter all the fields.</p>
    </form>
  </div>
  <div class="hello-world-view currentView" ng-if="vm.showHelloWorld">
  	<div class="hello-world-text">
	    <text-malarkey values="['Hello World!']">
	    </text-malarkey>
  	</div>
  </div>
</div>
