/****************** Common Styles ****************/
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

/****************** Login Styles ****************/
.text-malarkey {
    text-transform: capitalize;
    color: #FFFFFF;
}

.text-malarkey:after {
    animation: cursor-blink 0.4s linear infinite;
    content: "|";
    color: #FFFFFF;
}

@keyframes cursor-blink {
    1% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.login-view {
    background: white;
    height: 1400px;
    padding: 50px 0;
    vertical-align: middle;
}

.login-form {
    width: 250px;
    height: 250px;
    background: #FFFFFF;
    padding: 50px;
    margin: 0 auto;
    margin-top: 8%;
    vertical-align: middle;
    border: 3px solid #63D1F4;
}

/****************** Content Styles ****************/
.hello-world-view {
    background: #63D1F4;
    height: 1400px;
    padding: 40px 0;
}

.hello-world-text {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    vertical-align: middle;
    height: 200px;
    line-height: 200px;
    color: #FFFFFF;
    font-family: 'HelveticaNeue';
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 8%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 1400px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -1400px, 0);
    }
}

.currentView.ng-enter {
    -webkit-animation: fadeInUp 2s;
    -moz-animation: fadeInUp 2s;
    -o-animation: fadeInUp 2s;
    animation: fadeInUp 2s;
}

.currentView.ng-leave {
    -webkit-animation: fadeOutUp 0.5s;
    -moz-animation: fadeOutUp 0.5s;
    -o-animation: fadeOutUp 0.5s;
    animation: fadeOutUp 0.5s;
}

.md-primary.md-hue-1.md-button.md-ink-ripple {
    color: #0099CC;
}

.error-text {
    color: red;
    font-family: 'HelveticaHeue';
    font-size: 14px;
}